@model IEnumerable<MyReadingList.Models.Book>

@{
    ViewData["Title"] = "Home Page";
}


<ul class="myBooks">

    @foreach (var book in Model)
    {
        <li>
            <div class="date">

                <div class="month"> @book.DateTime.ToString("MMM")</div>

                <div class="day">@book.DateTime.ToString("d ")</div>

            </div>

            <div class="details">

                <span class="title">@book.Name</span>

            </div>
            <div>
                <div class="actions">


                    <a href="@Url.Action("Details", "Books", new {id = book.Id})">

                        Details

                    </a> |

                    <a href="@Url.Action("Edit", "Books", new {id = book.Id})">

                        Edit

                    </a> |

                    <a href="@Url.Action("Delete", "Books", new {id = book.Id})">

                        Delete

                    </a>  

                    
                </div>

            </div>
        </li>
    }

</ul>


